<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1347.57">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 13.3px 0.0px; text-align: center; font: 13.0px 'Trebuchet MS'; color: #000000; -webkit-text-stroke: #000000}
    p.p2 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 11.0px 'Trebuchet MS'; color: #000000; -webkit-text-stroke: #000000}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; text-align: justify; font: 11.0px 'Trebuchet MS'; color: #000000; -webkit-text-stroke: #000000}
    p.p4 {margin: 0.0px 0.0px 8.0px 0.0px; text-align: justify; font: 3.0px 'Trebuchet MS'; color: #000000; -webkit-text-stroke: #000000}
    span.s1 {font-kerning: none}
    span.s2 {font-kerning: none; background-color: #ffffff}
  </style>
</head>
<body>
<p class="p1"><span class="s1"><b>Assignment Agreement</b></span></p>
<p class="p2"><span class="s1">This Assignment Agreement is entered between You and DataStax, Inc., a Delaware corporation having its principal place of business at </span><span class="s2">3975 Freedom Circle, #400</span><span class="s1"> (“<b><i>DataStax</i></b>”).  "<b><i>You</i></b>" means the copyright owner or legal entity authorized by the copyright owner that is making this assignment to DataStax.<span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s1"><b>THIS IS A LEGALLY BINDING DOCUMENT, SO PLEASE READ IT CAREFULLY BEFORE AGREEING TO IT.<span class="Apple-converted-space"> </span></b></span></p>
<p class="p2"><span class="s1"><b>1.     Definitions</b></span></p>
<p class="p2"><span class="s1">1.1             "Contribution" means any work of authorship that is Submitted by You to DataStax in which You own or assert ownership of the Copyright.<span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s1">1.2             "Copyright" means all rights protecting works of authorship owned or controlled by You, including copyright, moral and neighboring rights, as appropriate, for the full term of their existence including any extensions.</span></p>
<p class="p2"><span class="s1">1.3             "Submit" or “Submitted” means any form of electronic, verbal, or written communication sent to DataStax or DataStax representatives, including but not limited to electronic mailing lists, source code control systems, and issue tracking systems that are managed by, or on behalf of, DataStax for the purpose of discussing and improving the Documentation, but excluding any communication that is conspicuously marked or otherwise designated in writing by You as "Not a Contribution."</span></p>
<p class="p2"><span class="s1"><b>2.     Background</b></span></p>
<p class="p2"><span class="s1">DataStax is a commercial enterprise that develops and distributes proprietary and non-proprietary software and documentation, including support/”how-to” documentation and testing scripts (“Documentation”).  You are the developer of the Contribution, and You would like DataStax to review Your Contribution and develop, distribute and/or support Your Contribution (or portions of it). DataStax is willing to review Your Contribution and may decide to include it in the Documentation, but only if it is clear that any portion of Your Contribution that DataStax elects to include in the DataStax Documentation is wholly owned by DataStax.</span></p>
<p class="p2"><span class="s1"><b>3.     Assignment to DataStax</b></span></p>
<p class="p2"><span class="s1">3.1             At the time the Contribution is Submitted, You assign to DataStax all right, title, and interest worldwide in all Copyright covering the Contribution.</span></p>
<p class="p2"><span class="s1">3.2             To the extent that any of the rights in Section 3.1 cannot be assigned by You to DataStax, You grant to DataStax a perpetual, worldwide, exclusive, royalty-free, transferable, irrevocable license under such non-assigned rights, with rights to sublicense through multiple tiers of sublicensees, to practice such non-assigned rights, including, but not limited to, the right to reproduce, modify, display, perform and distribute the Contribution.</span></p>
<p class="p2"><span class="s1">3.3             To the extent that any of the rights in Section 3.1 can neither be assigned by You to DataStax pursuant to Section 3.1 nor can be licensed by You to DataStax pursuant to 3.2, then You irrevocably waive and agree never to assert such rights against DataStax, any DataStax successor in interest, or any DataStax licensees, either direct or indirect.</span></p>
<p class="p2"><span class="s1"><b>4.     License to You</b></span></p>
<p class="p2"><span class="s1">Upon Your assignment of rights to DataStax pursuant to Section 3, DataStax immediately grants to You a perpetual, worldwide, non-exclusive, royalty-free, transferable, irrevocable license under such rights covering the Contribution, with rights to sublicense through multiple tiers of sublicensees, to reproduce, modify, display, perform and distribute the Contribution.  The intention of the parties is that this license from DataStax to You will be as broad as possible and provide You with rights as similar as possible to the owner of the rights that You transferred to DataStax.  This license back is limited to the Contribution and does not provide You any rights to the Documentation.</span></p>
<p class="p2"><span class="s1"><b>5.     Patent License</b></span></p>
<p class="p3"><span class="s1">For patent claims including, without limitation, method, process, and apparatus claims which You own, control or have the right to grant, now or in the future, You grant to DataStax a perpetual, worldwide, non- exclusive, transferable, royalty-free, irrevocable patent license, with the right to sublicense these rights to multiple tiers of sublicensees, to make, have made, use, sell, offer for sale, import and otherwise transfer the Contribution and the Contribution in combination with the Documentation (and portions of such combination). This license is granted only to the extent that the exercise of the licensed rights infringes such patent claims.</span></p>
<p class="p4"><span class="s1"><b> </b></span></p>
<p class="p2"><span class="s1"><b>6.     Outbound License</b></span></p>
<p class="p2"><span class="s1">Based on the grant of rights in Sections 3 and 4, if DataStax includes Your Contribution in the Documentation, DataStax may license the Contribution under any terms or license we select, including copyleft, permissive, commercial, or proprietary licenses.</span></p>
<p class="p2"><span class="s1"><b>7.     DataStax Rights</b></span></p>
<p class="p2"><span class="s1">You acknowledge that DataStax is not obligated to use Your Contribution as part of the Documentation and may decide to include any Contribution DataStax considers appropriate.  You agree that we may register a copyright in Your Contribution and exercise all ownership rights associated with it.  You agree that neither You nor DataStax has any duty to consult with, or obtain the consent of, pay or render an accounting to the other for any use or distribution of Your Contribution.</span></p>
<p class="p2"><span class="s1"><b>8.</b>     <b>Moral Rights</b></span></p>
<p class="p2"><span class="s1">If moral rights apply to the Contribution, to the maximum extent permitted by law, You waive and agree not to assert such moral rights against DataStax or any DataStax successor in interest, or any DataStax licensee, either direct or indirect.</span></p>
<p class="p2"><span class="s1"><b>9.     Your Representations</b></span></p>
<p class="p2"><span class="s1">You represent and warrant to DataStax that You (i) are not aware of any other entity, including Your employer, that has or will have any right, title, or interest in the Contribution, (ii) have not assigned, transferred, licensed, pledged, or otherwise encumbered the Contribution or agreed to do so, (iii) have full power and authority to enter into this Agreement and to make the assignment as provided in Section 3, (iv) are not aware of any violation, infringement or misappropriation of any third party’s rights (or any claim thereof) by the Contribution, and (v) You are over 18 years old, or if You are under the age of 18, Your parent or guardian has reviewed and will sign the Agreement for You. <span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s1"><b>10.   Warranty Disclaimer and Consequential Damages Waiver</b></span></p>
<p class="p2"><span class="s1"><b>EXCEPT FOR THE EXPRESS WARRANTIES IN SECTION 9, THE CONTRIBUTION IS PROVIDED "AS IS." MORE PARTICULARLY, ALL EXPRESS OR IMPLIED WARRANTIES INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT ARE EXPRESSLY DISCLAIMED BY YOU TO DATASTAX AND BY DATASTAX TO YOU. TO THE EXTENT THAT ANY SUCH WARRANTIES CANNOT BE DISCLAIMED, SUCH WARRANTY IS LIMITED IN DURATION TO THE MINIMUM PERIOD PERMITTED BY LAW.</b></span></p>
<p class="p2"><span class="s1"><b>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL YOU OR DATASTAX BE LIABLE FOR ANY LOSS OF PROFITS, LOSS OF ANTICIPATED SAVINGS, LOSS OF DATA, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL AND EXEMPLARY DAMAGES ARISING OUT OF THIS AGREEMENT REGARDLESS OF THE LEGAL OR EQUITABLE THEORY (CONTRACT, TORT, STATUTE, OR OTHERWISE) UPON WHICH THE CLAIM IS BASED.</b></span></p>
<p class="p2"><span class="s1"><b>11.   Attribution</b></span></p>
<p class="p2"><span class="s1">DataStax may publicly disclose Your participation as a Contributor to a Documentation, including the fact that You have entered into this Agreement.  DataStax agrees to undertake good faith efforts to reference by name each individual Contributor at a DataStax website and/or within or along with the Documentation containing the applicable Contribution.  Your sole and exclusive remedy for a DataStax breach of this Section 11 shall be, at DataStax’ election, either for DataStax to include a attribution note at a DataStax website referencing Your Contribution during the next scheduled revision of that website, or to include an attribution to You within or along with the subsequent version of the Documentation containing Your Contribution.<span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s1"><b>12.   Consideration <span class="Apple-converted-space"> </span></b></span></p>
<p class="p2"><span class="s1">By entering into this Agreement You acknowledge and agree that the attribution right set forth in Section 11 represents full and fair consideration for the rights that You have granted to DataStax under this Agreement.</span></p>
<p class="p2"><span class="s1"><b>13.   Miscellaneous</b></span></p>
<p class="p2"><span class="s1">13.1           This Agreement will be governed by and construed in accordance with the laws of California excluding its conflicts of law provisions. Under certain circumstances, the governing law in this section might be superseded by the United Nations Convention on Contracts for the International Sale of Goods ("UN Convention") and the parties intend to avoid the application of the UN Convention to this Agreement and, thus, exclude the application of the UN Convention in its entirety to this Agreement.</span></p>
<p class="p2"><span class="s1">13.2           This Agreement sets out the entire agreement between You and Us for Your Contributions to Us and overrides all other agreements or understandings, provided, however, that if You are an employee of DataStax, this Agreement does not modify or supersede Your other employment agreements with DataStax except to the extent those agreements specifically exclude the Contribution from intellectual property assigned to DataStax in connection with Your employment.</span></p>
<p class="p2"><span class="s1">13.3           If You or We assign the rights or obligations received through this Agreement to a third party, as a condition of the assignment, that third party must agree in writing to abide by all the rights and obligations in the Agreement.</span></p>
<p class="p2"><span class="s1">13.4           The failure of either party to require performance by the other party of any provision of this Agreement in one situation shall not affect the right of a party to require such performance at any time in the future. A waiver of performance under a provision in one situation shall not be considered a waiver of the performance of the provision in the future or a waiver of the provision in its entirety.</span></p>
<p class="p2"><span class="s1">13.5           If any provision of this Agreement is found void and unenforceable, such provision will be replaced to the extent possible with a provision that comes closest to the meaning of the original provision and which is enforceable. The terms and conditions set forth in this Agreement shall apply notwithstanding any failure of essential purpose of this Agreement or any limited remedy to the maximum extent possible under law.</span></p>
<p class="p2"><span class="s1">13.6           You agree to take any and all reasonable additional actions and to execute, acknowledge and deliver any and all documents that the other party may reasonably request in order to effect the intent and purposes of this Agreement, and the transactions contemplated within this Agreement.<span class="Apple-converted-space"> </span></span></p>
<p class="p2"><span class="s1"><b>14.     Term</b></span></p>
<p class="p2"><span class="s1">This Agreement will remain in effect in perpetuity.</span></p>
<p class="p2"><span class="s1">
<table>
  <p class=MsoBodyText style='text-align:justify;tab-stops:.25in'><span
  style='mso-bookmark:OLE_LINK1'><span style='mso-bookmark:OesLE_LINK2'><i
  style='mso-bidi-font-style:normal'>
  <tr>
    <th>Username</th>
    <td><%= username %></td>
  </tr>
  <tr>
    <th>Name</th>
    <td><%= name %></td>
  </tr>
  <tr>
    <th>Email</th>
    <td><%= email %></td>
  </tr>
  <tr>
    <th>Company</th>
    <td><%= company %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= Time.now.strftime('%m/%d/%Y') %></td>
  </tr>
  </span>
</table>
</i></span></p>
<p class="p2"><span class="s1"> </span></p>
<p class="p2"><span class="s1">[<i>ELECTRONICALLY SIGNED</i>]</span></p>
</body>
</html>
